# Introduction

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

## Data

In [2]:
la_county = pd.read_csv("../data/la-county.csv")
la_county = list(la_county['City'])

### CalEPA - Demographics + Indicators

In [3]:
epa_indicators = pd.read_csv("../data/CalEPA/indicators.csv")
epa_demographics = pd.read_csv("../data/CalEPA/demographics.csv")

Remove duplicate columns between indicators and demographics

In [17]:
duplicates = ['Total Population', 'California County', 'CES 4.0 Score', 'CES 4.0 Percentile Range']

In [18]:
epa_demographics = epa_demographics.drop(duplicates, axis=1)

Take LA county cities

In [19]:
la_indicators = epa_indicators[epa_indicators['Approximate Location'].isin(la_county)]

In [24]:
la_county_df = la_indicators.merge(epa_demographics, on='Census Tract', how='inner')

In [25]:
la_county_df

,Census Tract,Total Population,California County,ZIP,Approximate Location,Longitude,Latitude,CES 4.0 Score,CES 4.0 Percentile,CES 4.0 Percentile Range,...,CES 4.0 Percentile,Children < 10 years (%),Pop 10-64 years (%),Elderly > 64 years (%),Hispanic (%),White (%),African American (%),Native American (%),Asian American (%),Other/Multiple (%)
0,6037204920,2751,Los Angeles,90023,Los Angeles,-118.197497,34.017500,82.39,99.97,95-100% (highest scores),...,99.97,13.34,72.59,14.07,97.27,1.71,0.84,0.00,0.00,0.18
1,6037542402,3306,Los Angeles,90221,Compton,-118.212413,33.881969,80.71,99.94,95-100% (highest scores),...,99.94,11.34,77.53,11.13,65.34,0.54,33.55,0.00,0.57,0.00
2,6037543202,5124,Los Angeles,90220,Compton,-118.230032,33.879862,79.29,99.91,95-100% (highest scores),...,99.91,18.60,72.48,8.92,78.14,1.09,15.67,0.00,4.84,0.25
3,6037203300,2000,Los Angeles,90033,Los Angeles,-118.207788,34.058872,77.35,99.87,95-100% (highest scores),...,99.87,7.70,84.50,7.80,75.55,2.85,10.45,0.00,6.95,4.20
4,6037291220,3640,Los Angeles,90247,Los Angeles,-118.286709,33.877139,77.25,99.86,95-100% (highest scores),...,99.86,12.77,73.16,14.07,69.34,3.98,8.43,0.00,16.32,1.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2092,6037980026,26,Los Angeles,91042,Los Angeles,-118.263309,34.273483,NaN,NaN,NaN,...,NaN,0.00,100.00,0.00,26.92,26.92,42.31,0.00,0.00,3.85
2093,6037980028,0,Los Angeles,90045,Los Angeles,-118.417488,33.942108,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2094,6037980030,0,Los Angeles,90245,El Segundo,-118.409478,33.909624,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2095,6037980031,1175,Los Angeles,90731,Los Angeles,-118.262727,33.733835,NaN,NaN,NaN,...,NaN,1.70,88.60,9.70,32.94,33.45,19.74,2.21,5.10,6.55
2096,6037980033,16,Los Angeles,90802,Long Beach,-118.220310,33.744315,NaN,NaN,NaN,...,NaN,0.00,0.00,100.00,0.00,0.00,0.00,100.00,0.00,0.00

### NASA -  SoCAB Land Cover

nasa = rasterio.open('../data/NASA/SCLC11-Full.tif')

nasa_array = nasa.read(1)

pyplot.imshow(nasa_array, cmap='pink')