# Introduction

This notebook sets up a framework for modeling spatial contexts. 

There are three main ways in which spatial contexts play an important role in health: it contextualizes the built and social environment, environmental exposure, and access to health services for communities. I will draw predictions and inference across each of these components through a lens of land cover.

In [2]:
import pandas as pd
import numpy as np
import statsmodels
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

The following data was compiled from the California Environmental Protection Agency (CalEPA) Cal Enviro Screen (CES) indicator and demographic data, focusing on LA County, California.

<u>Why LA County, CA:</u> ...

<img src="../images/losangeles.png" style="width:75%; height:auto;" alt="Map of LA County, California"/>

In [5]:
df = pd.read_csv("../data/CalEPA/ces_losangeles.csv", index_col=0)

In [6]:
df.head()

,Census Tract,Total Population,California County,ZIP,Approximate Location,Longitude,Latitude,CES 4.0 Score,CES 4.0 Percentile,CES 4.0 Percentile Range,...,CES 4.0 Percentile,Children < 10 years (%),Pop 10-64 years (%),Elderly > 64 years (%),Hispanic (%),White (%),African American (%),Native American (%),Asian American (%),Other/Multiple (%)
0,6037204920,2751,Los Angeles,90023,Los Angeles,-118.197497,34.017500,82.39,99.97,95-100% (highest scores),...,99.97,13.34,72.59,14.07,97.27,1.71,0.84,0.0,0.00,0.18
1,6037542402,3306,Los Angeles,90221,Compton,-118.212413,33.881969,80.71,99.94,95-100% (highest scores),...,99.94,11.34,77.53,11.13,65.34,0.54,33.55,0.0,0.57,0.00
2,6037543202,5124,Los Angeles,90220,Compton,-118.230032,33.879862,79.29,99.91,95-100% (highest scores),...,99.91,18.60,72.48,8.92,78.14,1.09,15.67,0.0,4.84,0.25
3,6037203300,2000,Los Angeles,90033,Los Angeles,-118.207788,34.058872,77.35,99.87,95-100% (highest scores),...,99.87,7.70,84.50,7.80,75.55,2.85,10.45,0.0,6.95,4.20
4,6037291220,3640,Los Angeles,90247,Los Angeles,-118.286709,33.877139,77.25,99.86,95-100% (highest scores),...,99.86,12.77,73.16,14.07,69.34,3.98,8.43,0.0,16.32,1.92