# Introduction

In [2]:
import pandas as pd
import numpy as np

In [9]:
dictionary = pd.read_csv("../data/dictionary.csv")

In [10]:
dictionary

,Data Dictionary for CES4.0FINAL_results Data Spreadsheet,Unnamed: 1
0,Variable Name,Description
1,Census Tract,Census Tract ID from 2010 Census
2,Total Population,2019 ACS population estimates in census tracts
3,California County,California county that the census tract falls ...
4,ZIP,Postal ZIP Code that the census tract falls wi...
...,...,...
71,White (%),2019 ACS population estimates of the percent p...
72,African American (%),2019 ACS population estimates of the percent p...
73,Native American (%),2019 ACS population estimates of the percent p...
74,Asian American (%),2019 ACS population estimates of the percent p...
75,Other/Multiple (%),2019 ACS population estimates of the percent p...

In [6]:
indicators = pd.read_csv("../data/indicators.csv")
demographics = pd.read_csv("../data/demographics.csv")

In [7]:
indicators.head()

,Census Tract,Total Population,California County,ZIP,Approximate Location,Longitude,Latitude,CES 4.0 Score,CES 4.0 Percentile,CES 4.0 Percentile Range,...,Linguistic Isolation Pctl,Poverty,Poverty Pctl,Unemployment,Unemployment Pctl,Housing Burden,Housing Burden Pctl,Pop. Char.,Pop. Char. Score,Pop. Char. Pctl
0,6019001100,2780,Fresno,93706,Fresno,-119.781696,36.709695,93.18,100.00,95-100% (highest scores),...,79.37,76.0,98.92,12.8,93.83,30.3,91.04,93.16,9.66,99.72
1,6077000700,4680,San Joaquin,95206,Stockton,-121.287873,37.943173,86.65,99.99,95-100% (highest scores),...,95.53,73.2,98.39,19.8,99.21,31.2,92.28,93.17,9.66,99.74
2,6037204920,2751,Los Angeles,90023,Los Angeles,-118.197497,34.017500,82.39,99.97,95-100% (highest scores),...,81.55,62.6,93.39,6.4,61.53,20.3,63.97,83.75,8.69,95.79
3,6019000700,3664,Fresno,93706,Fresno,-119.827707,36.734535,81.33,99.96,95-100% (highest scores),...,78.71,65.7,95.35,15.7,97.35,35.4,96.41,94.64,9.82,99.89
4,6019000200,2689,Fresno,93706,Fresno,-119.805504,36.735491,80.75,99.95,95-100% (highest scores),...,86.56,72.7,98.30,13.7,95.29,32.7,94.16,95.40,9.90,99.95

In [8]:
demographics.head()

,"Demographic data (total population, age groups and race/ethnicity) by census tract were extracted from the 2019 American Community Survey.",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,Census Tract,CES 4.0 Score,CES 4.0 Percentile,CES 4.0 Percentile Range,California County,Total Population,Children < 10 years (%),Pop 10-64 years (%),Elderly > 64 years (%),Hispanic (%),White (%),African American (%),Native American (%),Asian American (%),Other/Multiple (%)
1,6001400100,4.85,2.80,1-5% (lowest scores),Alameda,3120,7.82,66.12,26.06,3.78,74.26,3.43,0,12.53,5.99
2,6001400200,4.88,2.87,1-5% (lowest scores),Alameda,2007,10.46,66.32,23.22,8.67,73.49,2.59,0.2,8.52,6.53
3,6001400300,11.20,15.94,15-20%,Alameda,5051,11.42,73.04,15.54,6.95,67.99,9.09,0,12.14,3.84
4,6001400400,12.39,18.97,15-20%,Alameda,4007,9.38,78.79,11.83,12.1,63.74,6.64,0.87,10.48,6.16